# This file is a "template" of what your parameters.yml file should look like
parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

we_code_pixels_theia_backup:
    aws_access_key_id: ~
    aws_secret_access_key: ~
    gpg_encryption_key: ~
    gpg_signature_key: ~
    gpg_signature_passphrase: ~
    enable_encryption: false
    backups:
        backup_1:
#            aws_access_key_id: 123
#            aws_secret_access_key: 234
#            gpg_encryption_key: 123123
#            gpg_signature_key: 232423
#            gpg_signature_passphrase: potato
            source_files: "/home/liviu/test_backup/"
            destination: "file:///home/liviu/test_backup_dest/"
            remove_older_than: 2M
            allow_source_mismatch: false
        backup_2:
            source_mysql:
                hostname: "localhost"
                port: "3306"
                username: "root"
                password: ""
                exclude_databases:
                    - "performance_schema"
                    - "information_schema"
                exclude_tables:
                    - "mysql.innodb_index_stats"
                    - "mysql.innodb_table_stats"
            destination: "file:///home/liviu/test_backup_dest/mysql/"
            remove_older_than: 2M
            allow_source_mismatch: false
        backup_3:
            source_postgresql:
                hostname: "localhost"
                port: "5432"
                username: "postgres"
                password:
            destination: "file:///home/liviu/test_backup_dest/postgresql/"
            remove_older_than: 2M
            allow_source_mismatch: false